html { height: 100%; }
body { height: 100%; }

ul, ol {margin: 0;}
li { padding: 0; list-style: none;}

#page { height: 100%; }
#main { height: calc(100% - 106px); position: relative; }
#main.notlogged { height: 100%;}
#main:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-image: url('../images/main.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

a { text-decoration: none; color: inherit;}

.text-xs {
    font-size:.7rem
  }
  .text-lg {
    font-size:1.2rem
  }

.page-link, .page-link:hover {
    color: rgba(33, 37, 41, 0.75);
}

.has-text-align-right { text-align: right; }


/* ----------------------------------------------------- */
/* --  Gestion du carousel                            -- */
/* ----------------------------------------------------- */
section.carousel { min-height: 80%;}
.carousel-inner { min-height:500px;}
.carousel-inner section { width: 90%; margin: auto;}
.carousel-inner section ul { overflow: auto; height: 200px;}
.carousel-inner .dropdown-menu { top:35px;}
.carousel-control-next, .carousel-control-prev {width: 8%;}
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */

/* ----------------------------------------------------- */
/* --  Sticky Bottom                                  -- */
/* ----------------------------------------------------- */
.sticky-bottom { background-color: #343a40; border-color: #4b545c; height: 56px;}
.sticky-bottom i { background-color: #343a40; transition: transform .2s; padding:5px; border-radius:50%; font-size:30px; color: rgba(255, 255, 255, .75);}
.sticky-bottom i:hover { transform: scale(2) translate(0, -15px);}
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */

/* ----------------------------------------------------- */
/* --  Raccourcis dans le Header                      -- */
/* ----------------------------------------------------- */
#avia-menu-center > li { float: left; display: block; position: relative;}
#avia-menu-center > li > button {color: rgba(255, 255, 255, .75); border: 1px solid #4b545c; font-size: 16px; margin-right: 15px; padding: 2px 6px; border-radius: 4px; display: block; width: 50px; text-align: center;}
#avia-menu-center > li > button:hover, #avia-menu-center > li > button:focus { border: 1px solid #b6b6b6; border-color: #b6b6b6; color: #b6b6b6;}
#avia-menu-center .dropdown-toggle::after {display: none;}
.notify-row .badge {position: absolute; right: 5px; top: -10px; z-index: 100; border-radius: 10px; padding: 3px 7px;}
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */

/* ----------------------------------------------------- */
/* --  Gestion icône météo sur le dashboard           -- */
/* ----------------------------------------------------- */
.wicon { background-position: 50%; background-repeat: no-repeat; height: 40px; width: 40px; background-size: 40px; display: block; margin: auto;}
.wicon[data-icon="1"]{background-image:url(../images/svg/wt-1.svg);}
.wicon[data-icon="2"]{background-image:url(../images/svg/wt-2.svg);}
.wicon[data-icon="3"]{background-image:url(../images/svg/wt-3.svg);}
.wicon[data-icon="4"]{background-image:url(../images/svg/wt-4.svg);}
.wicon[data-icon="5"]{background-image:url(../images/svg/wt-5.svg);}
.wicon[data-icon="6"]{background-image:url(../images/svg/wt-6.svg);}
.wicon[data-icon="7"]{background-image:url(../images/svg/wt-7.svg);}
.wicon[data-icon="8"]{background-image:url(../images/svg/wt-8.svg);}
.wicon[data-icon="9"]{background-image:url(../images/svg/wt-9.svg);}
.wicon[data-icon="10"]{background-image:url(../images/svg/wt-10.svg);}
.wicon[data-icon="11"]{background-image:url(../images/svg/wt-11.svg);}
.wicon[data-icon="12"]{background-image:url(../images/svg/wt-12.svg);}
.wicon[data-icon="13"]{background-image:url(../images/svg/wt-13.svg);}
.wicon[data-icon="14"]{background-image:url(../images/svg/wt-14.svg);}
.wicon[data-icon="15"]{background-image:url(../images/svg/wt-15.svg);}
.wicon[data-icon="16"]{background-image:url(../images/svg/wt-16.svg);}
.wicon[data-icon="17"]{background-image:url(../images/svg/wt-17.svg);}
.wicon[data-icon="18"]{background-image:url(../images/svg/wt-18.svg);}
.wicon[data-icon="19"]{background-image:url(../images/svg/wt-19.svg);}
.wicon[data-icon="20"]{background-image:url(../images/svg/wt-20.svg);}
.wicon[data-icon="21"]{background-image:url(../images/svg/wt-21.svg);}
.wicon[data-icon="22"]{background-image:url(../images/svg/wt-22.svg);}
.wicon[data-icon="23"]{background-image:url(../images/svg/wt-23.svg);}
.wicon[data-icon="24"]{background-image:url(../images/svg/wt-24.svg);}
.wicon[data-icon="25"]{background-image:url(../images/svg/wt-25.svg);}
.wicon[data-icon="26"]{background-image:url(../images/svg/wt-26.svg);}
.wicon[data-icon="27"]{background-image:url(../images/svg/wt-27.svg);}
.wicon[data-icon="28"]{background-image:url(../images/svg/wt-28.svg);}
.wicon[data-icon="29"]{background-image:url(../images/svg/wt-29.svg);}
.wicon[data-icon="30"]{background-image:url(../images/svg/wt-30.svg);}
.wicon[data-icon="31"]{background-image:url(../images/svg/wt-31.svg);}
.wicon[data-icon="32"]{background-image:url(../images/svg/wt-32.svg);}
.wicon[data-icon="33"]{background-image:url(../images/svg/wt-33.svg);}
.wicon[data-icon="34"]{background-image:url(../images/svg/wt-34.svg);}
.wicon[data-icon="35"]{background-image:url(../images/svg/wt-35.svg);}
.wicon[data-icon="36"]{background-image:url(../images/svg/wt-36.svg);}
.wicon.icon-xl { height: 120px; width: 120px; background-size: 120px;}
.wicon.icon-lg { height: 80px; width: 80px; background-size: 80px;}
.wicon.icon-sm { height: 20px; width: 20px; background-size: 20px;}
.wicon.icon-xs { height: 10px; width: 10px; background-size: 10px;}

.weather-panel {
    background: url(../images/downtown-los-angeles-at-night.jpg) no-repeat center top;
    text-align: center;
    background-position: center center;
}
.weather-panel i, .weather-panel h2 {
    color: white;
}
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */

/* ----------------------------------------------------- */
/* --   Couleurs personnalisées                       -- */
/* ----------------------------------------------------- */
.border-left-primary { border-left:.25rem solid #0d6efd; }
.border-bottom-primary { border-bottom:.25rem solid #0d6efd; }

.border-left-secondary { border-left:.25rem solid #6c757d; }
.border-bottom-secondary { border-bottom:.25rem solid #6c757d; }

.border-left-success { border-left:.25rem solid #198754; }
.border-bottom-success { border-bottom:.25rem solid #198754; }

.border-left-info { border-left:.25rem solid #0dcaf0; }
.border-bottom-info { border-bottom:.25rem solid #0dcaf0; }

.border-left-warning { border-left:.25rem solid #ffc107; }
.border-bottom-warning { border-bottom:.25rem solid #ffc107; }

.border-left-danger { border-left:.25rem solid #dc3545; }
.border-bottom-danger { border-bottom:.25rem solid #dc3545; }

.border-left-light { border-left:.25rem solid #f8f9fa; }
.border-bottom-light { border-bottom:.25rem solid #f8f9fa; }

.border-left-dark { border-left:.25rem solid #212529; }
.border-bottom-dark { border-bottom:.25rem solid #212529; }

.bg-indigo { background-color: #6610f2;}
.border-left-indigo { border-left:.25rem solid #6610f2; }
.border-bottom-indigo { border-bottom:.25rem solid #6610f2; }
.border-outline-indigo { border-left:.25rem solid #6610f2; }
.btn-outline-indigo:hover { color: #fff; background-color: #6610f2; border-color: #6610f2;}

.bg-lightblue {        background-color: #3c8dbc;}
.border-left-lightblue { border-left:.25rem solid #3c8dbc; }
.border-bottom-lightblue { border-bottom:.25rem solid #3c8dbc; }
.border-outline-lightblue { border-left:.25rem solid #3c8dbc; }
.btn-outline-lightblue:hover { color: #fff; background-color: #3c8dbc; border-color: #3c8dbc;}

.bg-navy { background-color: #001f3f;}
.border-left-navy { border-left:.25rem solid #001f3f; }
.border-bottom-navy { border-bottom:.25rem solid #001f3f; }
.border-outline-navy { border-left:.25rem solid #001f3f; }
.btn-outline-navy:hover { color: #fff; background-color: #001f3f; border-color: #001f3f;}

.bg-purple { background-color: #605ca8;}
.border-left-purple { border-left:.25rem solid #605ca8; }
.border-bottom-purple { border-bottom:.25rem solid #605ca8; }
.border-outline-purple { border-left:.25rem solid #605ca8; }
.btn-outline-purple:hover { color: #fff; background-color: #605ca8; border-color: #605ca8;}

.bg-fuchsia { background-color: #f012be;}
.border-left-fuchsia { border-left:.25rem solid #f012be; }
.border-bottom-fuchsia { border-bottom:.25rem solid #f012be; }
.border-outline-fuchsia { border-left:.25rem solid #f012be; }
.btn-outline-fuchsia:hover { color: #fff; background-color: #f012be; border-color: #f012be;}

.bg-pink { background-color: #e83e8c;}
.border-left-pink { border-left:.25rem solid #e83e8c; }
.border-bottom-pink { border-bottom:.25rem solid #e83e8c; }
.border-outline-pink { border-left:.25rem solid #e83e8c; }
.btn-outline-pink:hover { color: #fff; background-color: #e83e8c; border-color: #e83e8c;}

.bg-maroon { background-color: #d81b60;}
.border-left-maroon { border-left:.25rem solid #d81b60; }
.border-bottom-maroon { border-bottom:.25rem solid #d81b60; }
.border-outline-maroon { border-left:.25rem solid #d81b60; }
.btn-outline-maroon:hover { color: #fff; background-color: #d81b60; border-color: #d81b60;}

.bg-orange { background-color: #ff851b; color: #1f2d3d;}
.border-left-orange { border-left:.25rem solid #ff851b; }
.border-bottom-orange { border-bottom:.25rem solid #ff851b; }
.border-outline-orange { border-left:.25rem solid #ff851b; }
.btn-outline-orange:hover { color: #1f2d3d; background-color: #ff851b; border-color: #ff851b;}

.bg-lime { background-color: #01ff70; color: #1f2d3d;}
.border-left-lime { border-left:.25rem solid #01ff70; }
.border-bottom-lime { border-bottom:.25rem solid #01ff70; }
.border-outline-lime { border-left:.25rem solid #01ff70; }
.btn-outline-lime:hover { color: #1f2d3d; background-color: #01ff70; border-color: #01ff70;}

.bg-teal { background-color: #39cccc;}
.border-left-teal { border-left:.25rem solid #39cccc; }
.border-bottom-teal { border-bottom:.25rem solid #39cccc; }
.border-outline-teal { border-left:.25rem solid #39cccc; }
.btn-outline-teal:hover { color: #fff; background-color: #39cccc; border-color: #39cccc;}

.bg-olive { background-color: #3d9970;}
.border-left-olive { border-left:.25rem solid #3d9970; }
.border-bottom-olive { border-bottom:.25rem solid #3d9970; }
.border-outline-olive { border-left:.25rem solid #3d9970; }
.btn-outline-olive:hover { color: #fff; background-color: #3d9970; border-color: #3d9970;}

.bg-gray-dark { background-color: #343a40;}
.border-left-gray-dark { border-left:.25rem solid #343a40; }
.border-bottom-gray-dark { border-bottom:.25rem solid #343a40; }
.border-outline-gray-dark { border-left:.25rem solid #343a40; }
.btn-outline-gray-dark:hover { color: #fff; background-color: #343a40; border-color: #343a40;}
.text-gray-dark { color: #343a40;}

.bg-gray { background-color: #adb5bd;}
.border-left-gray { border-left:.25rem solid #adb5bd; }
.border-bottom-gray { border-bottom:.25rem solid #adb5bd; }
.border-outline-gray { border-left:.25rem solid #adb5bd; }
.btn-outline-gray:hover { color: #fff; background-color: #adb5bd; border-color: #adb5bd;}

.bg-gold, .btn-gold { background-color: gold !important;}
.bg-silver, .btn-silver { background-color: silver !important;}
.bg-bronze, .btn-bronze { background-color: #cd7f32 !important;}
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */

/* ----------------------------------------------------- */
/* --   Boite de messagerie                           -- */
/* ----------------------------------------------------- */
.mailbox-controls {padding: 5px;}
.mailbox-controls button {border-color: #ddd; background-color: #f8f9fa;}
.mailbox-controls button:hover {background-color: #e9ecef;}
.mailbox-controls.with-border {
    border-bottom: 1px solid rgba(0,0,0,.125);
  }
.mailbox-read .card-title {
    float: left;
    font-size: 1.1rem;
    font-weight: 400;
    margin: 0;
  }
  .card-header > .card-tools {
    float: right;
    margin-right: -.625rem;
  }
  .btn-tool {
    background-color: transparent;
    color: #adb5bd;
    font-size: .875rem;
    margin: -.75rem 0;
    padding: .25rem .5rem;
  }
.mailbox-read-info {border-bottom: 1px solid rgba(0,0,0,.125); padding: 10px; }
.mailbox-read-info h5 {
    margin: 0;
    padding: 5px 0 0;
  }
  .mailbox-read-time {
    color: #999;
    font-size: 13px;
  }
  .mailbox-read-message {
    padding: 10px;
  }
.mailbox-read .btn-default {
    background-color: #f8f9fa;
    border-color: #ddd;
    color: #444;
  }
.mailbox-read .btn-default.hover, .mailbox-read .btn-default:active, .mailbox-read .btn-default:hover {
    background-color: #e9ecef;
    color: #2b2b2b;
  }
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */


.no-decoration {
    text-decoration : none;
}
  .text-gray-100 {
    color:#f8f9fc!important
  }
  .text-gray-200 {
    color:#eaecf4!important
  }
  .text-gray-300 {
    color:#dddfeb!important
  }
  .text-gray-400 {
    color:#d1d3e2!important
  }
  .text-gray-500 {
    color:#b7b9cc!important
  }
  .text-gray-600 {
    color:#858796!important
  }
  .text-gray-700 {
    color:#6e707e!important
  }
  .text-gray-800 {
    color:#5a5c69!important
  }
  .text-gray-900 {
    color:#3a3b45!important
  }
  
  
#header {
    background-color: #343a40;
    border-color: #4b545c;
    height: 50px;
}
#header .brand-image {
    height: 35px;
}
#header .menu {
    width: 100%;
}
#header .nav-item {
    display: inline-block;
}
#header .nav-item > .nav-link i {
    border: 1px solid rgba(255, 255, 255, .75);
    border-radius: 5px;
    padding: 2px 6px;
    font-size: 20px;
    color: rgba(255, 255, 255, .75);
}
#header .mask { height: 35px; }
#header .dropdown-menu {
    background-color: #343a40;
  border-color: #4b545c;
}
#header .dropdown-menu a {
    color: rgba(255, 255, 255, .75);
}
#header .dropdown-menu a:hover, #header .dropdown-menu a:active {
    background-color: rgb(248, 249, 250);
    color: #343a40;
}

.wrapper { max-height: 100%; overflow-y: auto; overflow-x: hidden; }
.hidden { display: none; }
.input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3),
.input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.input-group > .form-select {
  position: relative;
  flex: 1 1 auto;
}
.content-wrapper .content-header .breadcrumb {
background-color: #343a40;
border-color: #4b545c;
}
.dark-mode .nav-tabs .active .nav-link {
    background: #000000;
    color: #ffffff;
    border-radius: 0;
    border: 1px solid #2c2e33;
}
.content-header .btn:not(.disabled):not(.dropdown-toggle)::after {
  content: "/";
  padding-left: 20px;
}
.dark-mode .table-striped tr:nth-of-type(2n+1) {
  background-color: rgba(255, 255, 255, 0.15);
}
#section-inbox .card-header, #section-inbox .mailbox-read-info, #section-inbox .mailbox-controls.with-border {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
#section-inbox .card-footer + .card-footer {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}
.card-footer .mailbox-attachment-icon {
  font-size: 50px;
  padding: 0;
}
.navbar-nav .navbar-badge {
  right: 10px;
  top: 5px;
}
.dark-mode .newMail {
  border-left: 5px solid;
}
#section-cops .mask { margin-left: 25%; width: 50%; }
.cops-id dt, .cops-id dd { float: left; }
.cops-id dt { width: 80px; }
.cops-id dd { width: calc(100% - 85px); }

/* ----------------------------------------------------- */
/* Le panneau d'identification quand on n'est pas loggué */
.login-panel { opacity: 0; position: absolute; top: 50%; transition: opacity 1s; transform: translateY(-50%); }
.login-panel.active { opacity: 1; }
.login-box { margin: auto; }
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* Hack pour garder le visuel du wallpaper derrière.     */
.dark-mode .content-wrapper { background: transparent; }
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* L'horloge de la sidebar                               */
#clock {
  font-family: 'Share Tech Mono', monospace;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: #daf6ff;
  text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);
}
#clock .time {
  letter-spacing: 0.05em;
  font-size: 45px;
  padding: 5px 0;
  margin: 0;
}
#clock .date {
  letter-spacing: 0.1em;
  font-size: 20px;
  margin: 0;
}
/* ----------------------------------------------------- */

.weather-graph {
    min-height: 640px;
    width: calc(100% - 75px);
    position: relative;
    margin-left: 65px;
    font-family: Helvetica,Arial,Sans-Serif;
}
.weatherGrid {
    float: left;
    font-size: 10px;
    height: 360px;
    margin-left: -65px;
    margin-top: 30px;
    position: relative;
    text-align: right;
    width: 65px;
}
.weatherGrid>div {
    border-bottom: 1px solid hsla(0,0%,8%,.1);
    line-height: 1.2;
    padding: 0 3px 1px 0;
    position: absolute;
    right: 0;
    width: 100%;
}
.weatherGrid>div:first-child {
    border-bottom: none;
    border-top: 1px solid hsla(0,0%,8%,.1);
    padding-top: 1px;
}
.weatherGrid .gridTempLabel {
  bottom: 85%;
}
.weatherGrid .gridtext {
    border: none;
    color: #999;
    font-size: 9px;
    margin-top: -5px;
}
#weatherContainer {
    -ms-scroll-chaining: chained;
    border-left: 1px solid #ddd;
    border-left: 1px solid hsla(0,0%,8%,.1);
    border-right: 1px solid #ddd;
    border-right: 1px solid hsla(0,0%,8%,.1);
    height: 390px;
    overflow: hidden;
    padding: 0!important;
    position: relative;
    width: auto;
}
#weather {
    -ms-scroll-chaining: chained;
    height: 360px;
    margin-top: 30px;
    position: relative;
    touch-action: none;
    -ms-touch-action: none;
    white-space: nowrap;
}
#weather .gridline {
    border-bottom: 1px solid #f5f5f5;
    border-bottom: 1px solid rgba(0,0,0,.05);
    height: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
}
#weather .gridline.zero {
    border-bottom: 1px solid #fac8c8;
    border-bottom: 1px solid rgba(250,0,0,.2);
}
#weather .section {
    border: 1px solid #ddd;
    border: 1px solid hsla(0,0%,8%,.1);
    border-left: none;
    display: inline-block;
    height: 100%;
    margin-left: -1px;
    position: relative;
    vertical-align: middle;
}
#weather .section:nth-child(4n+2) {
    border-left: 2px solid #2f8dc9;
}
#weather .section:not(:nth-child(4n+2)) .date {
    display: none;
}
#weather .section.highlight {
    background: #ffc!important;
    transition: background .3s ease;
}
#weather .section .date {
    color: #999;
    font-size: 15px;
    font-weight: 200;
    margin-top: -20px;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#weather .section .prec canvas, #weather .section div {
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 1;
}
#weather .temp.low, #weather .tempLow.low {
    font-size: 10px;
}
#weather .time {
    color: #333;
    font-size: 9px;
    top: 3px;
}
#weather .wind {
    border-top: 1px solid #ddd;
    border-top: 1px solid hsla(0,0%,8%,.1);
    bottom: 0;
    height: 60px;
    top: auto;
}
#weather .wind .wstext {
    bottom: 0;
    font-size: 11px;
    padding-bottom: 11px;
    top: auto;
}
  .accordion-button i { float:right; display: none; }
  .accordion-button i.fa-chevron-down { display: block; }
  .accordion-button.collapsed i.fa-chevron-down { display: none; }
  .accordion-button.collapsed i.fa-chevron-up { display: block; }
/*  .accordion-item { float:right; display: none; }*/
  .accordion-button.collapsed + .accordion-item { float:right; display: block; }

.form-floating {
  position: relative;
}
.form-floating > .form-control, .form-floating > .form-control-plaintext, .form-floating > .form-select {
  height: calc(3.5rem + 2px);
  line-height: 1.25;
}
.form-floating > .form-control, .form-floating > .form-control-plaintext {
  padding: 1rem .75rem;
}
.form-floating > label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem .75rem;
  overflow: hidden;
  text-align: start;
  text-overflow: ellipsis;
  white-space: nowrap;
  pointer-events: none;
  border: 1px solid transparent;
  transform-origin: 0 0;
  transition: opacity .1s ease-in-out,transform .1s ease-in-out;
}
.form-floating > .form-control-plaintext:focus, .form-floating > .form-control-plaintext:not(:placeholder-shown), .form-floating > .form-control:focus, .form-floating > .form-control:not(:placeholder-shown) {
  padding-top: 1.625rem;
  padding-bottom: .625rem;
}
.form-floating > .form-control-plaintext ~ label, .form-floating > .form-control:focus ~ label, .form-floating > .form-control:not(:placeholder-shown) ~ label, .form-floating > .form-select ~ label {
  opacity: .65;
  transform: scale(.85) translateY(-.5rem) translateX(.15rem);
}

.pn {
    height: 250px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}



.card-box {
    padding: 20px;
    border-radius: 3px;
    margin-bottom: 30px;
    background-color: #fff;
}

.file-man-box {
    padding: 20px;
    border: 1px solid #e3eaef;
    border-radius: 5px;
    position: relative;
    margin-bottom: 20px
}

.file-man-box .file-close {
    color: #f1556c;
    position: absolute;
    line-height: 24px;
    font-size: 24px;
    right: 10px;
    top: 10px;
    visibility: hidden
}

.file-man-box .file-img-box {
    line-height: 120px;
    text-align: center
}

.file-man-box .file-img-box img {
    height: 64px
}

.file-man-box .file-download {
    font-size: 32px;
    color: #98a6ad;
    position: absolute;
    right: 10px
}

.file-man-box .file-download:hover {
    color: #313a46
}

.file-man-box .file-man-title {
    padding-right: 25px
}

.file-man-box:hover {
    -webkit-box-shadow: 0 0 24px 0 rgba(0, 0, 0, .06), 0 1px 0 0 rgba(0, 0, 0, .02);
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, .06), 0 1px 0 0 rgba(0, 0, 0, .02)
}

.file-man-box:hover .file-close {
    visibility: visible
}
.text-overflow {
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    width: 100%;
    overflow: hidden;
}
h5 {
    font-size: 15px;
}